/* You can add global styles to this file, and also import other style files */

@import "assets/styles/shared";

/* Order */
@layer primeng, reset;

/* Reset CSS */
@layer reset {
  button,
  input {
    /* CSS to Reset */
  }

  p, ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  .p-toolbar {
    border-radius: 0;
    border: none;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}


body {
  margin: 0;
}
